@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1200px;
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) {
    .account-user-img {
        height: 104px;
    }

    .upload-user-avatar {
        min-width: 105px;
    }

    .hotel-rated-container,
    .hotel-rated-list-sidebar,
    .question-answer-sidebar,
    .yacht-rule-container {
        width: 50%;
    }

    .airplane-ticket-logo {
        width: 20%;
    }

    .airplane-ticket-info {
        width: 80%;
    }

    .airplane-ticket-info div {
        width: 33.33%;
    }

    .airplane-ticket-oneway.airplane-ticket-info div {
        width: auto;
    }

    .tour-detail-info-item {
        font-size: 12px;
    }

    .payment-info-body * {
        font-size: 11.5px;
    }

    .airplane-ticket-info>div {
        width: 33.33% !important;
    }
    .room-class-item-left {
        font-size: 12px;
    }

    .view-hotel-room-info {
        font-size: 14px;
    }

    .select-room-dropdown button.dropdown-toggle,
    .text-old-price {
        font-size: 15px;
    }

    .text-new-price{
        font-size: 20px;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .navbar-collapse {
        background: #fff;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 50px;
        z-index: 20;
        margin: 15px auto 0 auto;
    }

    .navbar-nav .nav-item {
        display: block !important;
    }

    .navbar-nav .nav-link {
        padding: 8px 15px !important;
    }

    .navbar .navbar-toggler {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        width: 15%;
    }

    .navbar .navbar-brand {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        width: 70%;
        margin-right: 0;
        text-align: center;
    }

    .navbar .container {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .dropdown-slide-toggle {
        margin-left: auto;
    }

    .user-name {
        display: none;
    }

    .dropdown-user-account {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        width: 15%;
    }

    .dropdown-user-account {
        position: inherit;
    }

    .dropdown-user-account .dropdown-menu {
        padding: 0;
        right: 0px;
        top: 65px;
        z-index: 20;
        left: 0;
        margin: 0px auto;
    }


    .login-form,
    .forgot-password-form,
    .signup-agency-form,
    .signup-collaborators-form,
    .change-password-form {
        padding: 2rem !important;
    }

    .account-menu .col,
    .airplane-select-datetime .col-sm-12:first-child,
    .airplane-select-datetime .col-sm-12:nth-child(2) {
        flex: 0 0 50%;
        margin-bottom: 10px;
    }

    .airplane-swap-input .col {
        flex: 0 0 100%;
    }

    .swap-place-airplane {
        position: absolute;
        top: 29% !important;
        right: 0;
        z-index: 9;
    }

    .room-person-select {
        width: 100%;
    }

    .dropdown-select-option.dropdown-menu {
        transform: unset !important;
        top: 25px !important;
        right: 0;
    }

    .account-menu .col:last-child {
        margin-bottom: 0px;
    }

    .contact-container {
        margin-top: 0;
    }

    .news-item img {
        height: 8rem;
    }

    .rated-item-hotel-price {
        width: 100%;
        text-align: right;
    }

    .booking-idea-img-lg {
        height: 14rem;
    }

    .large-image img {
        height: 20rem;
    }

    .contact-iframe iframe {
        height: 25rem;
    }

    .small-image img {
        height: 6.5rem;
    }

    .hotel-detail-nav .nav-link {
        width: auto;
    }

    .tour-detail-info-item,
    .payment-info-body * {
        font-size: 12px;
    }

    .airplane-item-list-container {
        max-height: 30rem;
        overflow-y: auto;
    }

    .pagination {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .pagination .page-item {
        margin: 0px 2px;
    }

    .pagination .page-item:first-child {
        margin-right: 15px;
    }

    .pagination .page-item:last-child {
        margin-left: 15px;
    }

    .room-class-item-right {
        width: 100%;
        text-align: right;
    }
}

@media screen and (max-width: 670px) {
    table.mobile-table {
        border: 0;
    }

    table.mobile-table caption {
        font-size: 1.3em;
    }

    table.mobile-table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table.mobile-table tr {
        border-bottom: 3px solid #F6F6F6;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    table.mobile-table td {
        display: block;
        font-size: .8em;
        text-align: right;
        border: none;
    }

    table.mobile-table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table.mobile-table td:last-child {
        border-bottom: 0;
    }

    .hotel-info-table tbody tr td:last-child:before,
    .yach-info-table tbody tr td:last-child:before {
        color: #333;
    }

    .hotel-info-table tbody tr td:first-child:before,
    .hotel-info-table tbody tr td:nth-child(2):before,
    .hotel-info-table tbody tr td:nth-child(3):before,
    .hotel-info-table tbody tr td:nth-child(4):before,
    .yach-info-table tbody tr td:first-child:before,
    .yach-info-table tbody tr td:nth-child(2):before,
    .yach-info-table tbody tr td:nth-child(3):before {
        content: none;
    }

    .hotel-info-table tbody tr td:first-child,
    .hotel-info-table tbody tr td:nth-child(3),
    .yach-info-table tbody tr td:first-child,
    .yach-info-table tbody tr td:nth-child(3) {
        text-align: left;
    }

    .hotel-info-table tbody tr td:first-child,
    .hotel-info-table tbody tr td:nth-child(2),
    .yach-info-table tbody tr td:first-child,
    .yach-info-table tbody tr td:nth-child(2) {
        width: 50%;
        font-size: 17px;
    }

    .hotel-info-table tbody tr td:nth-child(3),
    .hotel-info-table tbody tr td:nth-child(4),
    .hotel-info-table tbody tr td:last-child,
    .yach-info-table tbody tr td:nth-child(3),
    .yach-info-table tbody tr td:last-child {
        width: 100%;
        font-size: 17px;
    }

    .add-bed-hotel .select-room-dropdown.bootstrap-select {
        width: 100% !important;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .navbar-collapse {
        background: #fff;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 50px;
        z-index: 20;
        margin: 15px auto 0 auto;
    }

    .navbar-nav .nav-item {
        display: block !important;
    }

    .navbar-nav .nav-link {
        padding: 8px 15px !important;
    }

    .navbar .navbar-toggler {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        width: 15%;
    }

    .navbar .navbar-brand {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        width: 70%;
        margin-right: 0;
        text-align: center;
    }

    .navbar .container {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .user-name {
        display: none;
    }

    .dropdown-user-account {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        width: 15%;
    }

    .dropdown-user-account {
        position: inherit;
    }

    .dropdown-user-account .dropdown-menu {
        padding: 0;
        right: 0px;
        top: 65px;
        z-index: 20;
        left: 0;
        margin: 0 auto;
    }

    .contact-container {
        margin-top: 0;
    }

    .account-menu .col,
    .bank-list .col,
    .airplane-time-flight .col-sm-12,
    .list-airplane .col-sm-12,
    .airplane-select-datetime .col-sm-12:first-child,
    .airplane-select-datetime .col-sm-12:nth-child(2) {
        flex: 0 0 50%;
    }

    .list-airplane .col-sm-12 .btn {
        margin-right: 0 !important;
    }

    .airplane-swap-input .col {
        flex: 0 0 100%;
    }

    .account-menu .col,
    .bank-list .col {
        margin-bottom: 10px;
    }

    .account-menu .col:last-child,
    .bank-list .col:last-child {
        margin-bottom: 0px;
    }

    .list-news-container {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .news-sidebar {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .call-link {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .room-person-select,
    .hotel-rated-container,
    .hotel-rated-list-sidebar,
    .question-answer-sidebar,
    .yacht-rule-container {
        width: 85%;
    }

    .combo-booking-nav,
    .hotel-detail-nav,
    .combo-detail-nav-tab {
        overflow-x: auto;
    }

    .combo-booking-nav .nav-link,
    .hotel-detail-nav .nav-link,
    .combo-detail-nav-tab .nav-link {
        width: 40%;
    }

    .dropdown-select-option.dropdown-menu {
        transform: unset !important;
        top: 25px !important;
        right: 0;
    }

    .contact-iframe iframe {
        height: 20rem;
    }

    .booking-idea-img-lg {
        height: 12rem;
    }

    .account-user-img {
        height: 115px;
    }

    .rated-item-info {
        margin-left: 55px;
    }

    .login-bg {
        min-height: 25rem;
    }

    .news-item img {
        height: 17rem;
    }

    .rated-item-hotel-price {
        width: 100%;
        text-align: right;
    }

    .large-image img {
        height: auto;
    }

    .small-image {
        position: relative;
        top: 10px;
    }

    .small-image .combo-detail-image-item {
        width: 32%;
    }

    .airplane-ticket-info div:first-child,
    .airplane-ticket-info div:nth-child(2),
    .airplane-ticket-info div:nth-child(3) {
        min-width: 33.33%;
    }

    .airplane-ticket-info div:nth-child(4),
    .airplane-ticket-info div:last-child {
        min-width: 50%;
    }

    .history-booking-airplane-item-line,
    .history-booking-airplane-item-time,
    .history-booking-airplane-item-ticket,
    .history-booking-airplane-item-price,
    .history-seaplane-item-ticket,
    .history-seaplane-item-status,
    .history-seaplane-item-price {
        width: 100%;
    }

    .history-seaplane-item-time {
        width: 44%;
    }

    .airplane-ticket-oneway.airplane-ticket-info div {
        min-width: unset;
        font-size: 14px;
    }

    .airplane-item-content button {
        padding: 3px 7px;
        font-size: 14px;
        margin: 0 !important;
    }


    .small-image img {
        height: 6rem;
    }

    .airplane-ticket-logo {
        width: 20%;
    }

    .airplane-ticket-info {
        width: 80%;
    }

    .swap-place-airplane {
        position: absolute;
        top: 29% !important;
        right: 0;
        z-index: 9;
    }

    .footer-link-item,
    .news-category {
        margin-bottom: 15px;
    }

    .footer-form-bg {
        min-height: 20rem;
    }

    .footer-link-item {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 15px;
    }

    .pagination {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .pagination .page-item {
        margin: 0px 2px;
    }

    .pagination .page-item:first-child {
        margin-right: 15px;
    }

    .pagination .page-item:last-child {
        margin-left: 15px;
    }
}

@media (max-width: 575.98px) {
    body {
        overflow-x: hidden;
    }

    .navbar {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .navbar .navbar-toggler {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        width: 15%;
    }

    .navbar .navbar-brand {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        width: 70%;
        margin-right: 0;
        text-align: center;
    }

    .navbar .container {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .dropdown-user-account {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        width: 15%;
    }

    .navbar-collapse {
        background: #fff;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 50px;
        z-index: 20;
        margin: 15px auto 0 auto;
    }

    .login-bg {
        min-height: 20rem;
    }

    .login-form,
    .forgot-password-form,
    .signup-agency-form,
    .signup-collaborators-form,
    .change-password-form {
        padding: 2rem 1rem !important;
    }

    .navbar-nav .nav-item {
        display: block !important;
    }

    .navbar-nav .nav-link {
        padding: 8px 15px !important;
    }

    .dropdown-user-account {
        position: inherit;
    }

    .dropdown-user-account .dropdown-menu {
        padding: 0;
        right: 0px;
        top: 65px;
        z-index: 20;
        left: 0;
        margin: 0px 15px;
    }

    .account-menu .col,
    .bank-list .col,
    .airplane-time-flight .col-sm-12 {
        flex: 0 0 50%;
        margin-bottom: 10px;
    }

    .space-bottom-line {
        padding-top: 3rem !important;
    }

    .contact-container {
        margin-top: 0;
    }

    .contact-iframe iframe {
        height: 20rem;
    }

    .footer-form-bg {
        min-height: 15rem;
    }

    .list-news-container,
    .detail-post-intro {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .news-sidebar,
    .news-sidebar-category-list {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .news-sidebar-related-news .news-category,
    .user-name,
    .hotel-vehicle-select {
        display: none !important;
    }

    .navbar-light .navbar-nav .nav-link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .buy-ticket-social-icon,
    .account-info .container .row>.col-lg-6:last-child {
        margin-top: 15px;
    }

    .account-info-callpase-item {
        font-size: 15px;
    }

    .call-link {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .footer-link-item,
    .news-category,
    .account-menu .col,
    .halobay-service .col-sm-12,
    .halobay-tour-intro .col-sm-12.col-lg-8,
    .account-info-sidebar,
    .booking-input .col-sm-12 {
        margin-bottom: 15px;
    }

    .account-menu .col:last-child,
    .halobay-service .col-sm-12:last-child,
    .booking-input .col-sm-12:last-child {
        margin-bottom: 0px;
    }

    .rated-item-info {
        margin-left: 55px;
    }

    .halobay-tour-intro .col-sm-12.col-lg-8 img,
    .large-image img {
        height: auto;
    }

    .combo-booking-nav,
    .hotel-detail-nav,
    .airplane-ticket-return-nav,
    .airplane-ticket-go-nav,
    .yacht-nav-link,
    .combo-detail-nav-tab {
        overflow-x: auto;
    }

    .combo-booking-nav .nav-link,
    .hotel-detail-nav .nav-link,
    .yacht-nav-link .nav-link {
        width: auto;
    }

    .dropdown-select-option.dropdown-menu {
        transform: unset !important;
        top: 25px !important;
    }

    .room-person-select,
    .hotel-rated-container,
    .hotel-rated-list-sidebar,
    .question-answer-sidebar,
    .yacht-rule-container,
    .history-booking-airplane-item-line,
    .history-booking-airplane-item-time,
    .history-booking-airplane-item-ticket,
    .history-booking-airplane-item-price,
    .history-seaplane-item-ticket,
    .history-seaplane-item-status,
    .history-seaplane-item-price,
    .dropdown-select-airplane,
    .dropdown-select-tour,
    .dropdown-select-seaplane,
    .dropdown-select-yacht,
    .dropdown-select-combo {
        width: 100%;
    }

    .history-seaplane-item-time {
        width: 64%;
    }

    .airplane-swap-input .col {
        flex: 0 0 100%;
    }

    .swap-place-airplane {
        position: absolute;
        top: 29% !important;
        right: 0;
        z-index: 9;
    }

    .payment-method-item-title span {
        width: calc(100% - 40px);
    }

    .account-user-img {
        height: 75px;
    }

    .star-rating-icon i {
        font-size: 13px;
    }

    .rated-item-hotel-footer *,
    .seaplane-nav-tab .nav-link,
    .seaplane-item-booking {
        font-size: 14px;
    }

    .upload-user-avatar {
        min-width: 90px;
    }

    .small-image {
        position: relative;
        top: 10px;
    }

    .small-image .combo-detail-image-item {
        width: 32%;
    }

    .small-image img {
        height: 4rem;
    }

    .view-all-image,
    .list-airplane-header,
    .airplane-ticket-info {
        font-size: 11px;
    }

    .airplane-info-detail.airplane-ticket-info {
        font-size: 15px;
    }

    .rated-emotion .col {
        width: 33.33%;
    }

    .airplane-ticket-logo {
        width: 20%;
    }

    .airplane-ticket-info {
        width: 80%;
    }

    .airplane-ticket-return-nav .nav-link,
    .airplane-ticket-go-nav .nav-link,
    .airplane-ticket-info div:first-child,
    .airplane-ticket-info div:nth-child(2),
    .airplane-ticket-info div:nth-child(3) {
        min-width: 33.33%;
    }

    .list-airplane .col-sm-12,
    .rated-emotion .col:last-child,
    .rated-emotion .col:nth-last-child(2),
    .account-info-item-input,
    .airplane-ticket-info div:nth-child(4),
    .airplane-ticket-info div:last-child,
    .airplane-select-datetime .col-sm-12:first-child,
    .airplane-select-datetime .col-sm-12:nth-child(2),
    .combo-detail-nav-tab .nav-link {
        width: 50%;
    }

    .list-airplane .col-sm-12 .btn {
        margin-right: 0 !important;
    }

    .airplane-ticket-oneway.airplane-ticket-info div,
    .airplane-ticket-oneway.airplane-ticket-info div:nth-child(4),
    .airplane-ticket-oneway.airplane-ticket-info div:last-child,
    .airplane-ticket-go-nav.airplane-oneway-nav .nav-link {
        min-width: unset;
        font-size: 13px;
    }

    .airplane-ticket-oneway.airplane-ticket-info div:nth-child(4),
    .airplane-ticket-oneway.airplane-ticket-info div:last-child {
        width: auto;
    }

    .airplane-item-content button {
        padding: 3px 7px;
        font-size: 12px;
        margin: 0 !important;
    }

    .rated-item-hotel-body {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .rated-item-hotel-price {
        width: 100%;
        text-align: right;
    }

    .history-booking-airplane-item-logo {
        width: 30%;
    }

    .history-booking-airplane-item-content {
        width: 70%;
    }

    .modal-dialog {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        min-height: calc(100% - 1rem);
    }

    .modal-body .col-lg-10.mx-auto {
        padding: 0;
    }

    .pagination {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .pagination .page-item {
        margin: 0px 2px;
    }

    .pagination .page-item:first-child {
        margin-right: 15px;
    }

    .pagination .page-item:last-child {
        margin-left: 15px;
    }
}

@media (max-width: 375px) {
    .airplane-line {
        width: 45%;
    }

    .airplane-sidebar-info .airplane-item-short-info .font-title {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .top-bar {
        font-size: 12px;
    }

    .login-bg {
        min-height: 17rem;
    }

    .account-menu-item {
        font-size: 13px !important;
    }

    .footer-form-bg {
        min-height: 12rem;
    }

    .account-info-callpase-item {
        font-size: 13px;
    }

    .list-airplane .col-sm-12 {
        width: 100%;
    }

    .account-info-item-input {
        width: 45%;
    }

    .navbar .navbar-toggler {
        width: 20%;
    }

    .navbar .navbar-brand {
        width: 60%;
    }

    .dropdown-user-account {
        width: 20%;
    }

    .account-user-img {
        height: 65px;
    }

    .upload-user-avatar {
        min-width: 70px;
    }

    .dropdown-select-option.dropdown-menu {
        min-width: 16rem;
    }

}